.list-cards {
  ul {
    li {
      display: inline-block;
      vertical-align: top;
      padding: 8px;
    }
  }
}

.card-experience {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 4px;
  height: 330px;
  .img-wrap {
    overflow: hidden;
    width: auto;
    height: 200px;
    border-radius: 4px 4px 0px 0px;
  }
  img {
    margin: 0px;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .content-wrap {
    overflow: hidden;
    width: auto;
    height: 130px;
  }
  .content {
    padding: 10px;
    span {
      color: #B0B0B0;
    }
    .category {
      margin: 0px 0px 5px 0px;
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
      text-transform: uppercase;
      color: #4826E8;
    }
    .title-block {
      height: 50px;
      margin: 0px 0px 10px 0px;
      overflow: hidden;
    }
    .title {
      font-size: 18px;
      font-weight: 600;
      line-height: 25px;
      color: #484848;
    }
    .price {
      margin: 10px 0px 10px 0px;
      font-size: 18px;
      font-weight: 400;
      line-height: 2.5ex;
      color: #484848;
    }
  }
}

.card-experience:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
  transition: 2s;
  position: relative;
  top: -2px;
}

@media all and (max-width: 767px) {
  .card-experience {
    height: 270px;
    margin: 0 0 1em;
    .img-wrap {
      height: 150px;
    }
    .content-wrap {
      height: 125px;
    }
    .content {
      padding: 10px;
      span {
        color: #B0B0B0;
      }
      .category {
        font-size: 12px;
        line-height: 14px;
      }
      .title-block {
        height: 48px;
        margin-bottom: 5px;
      }
      .title {
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        color: #484848;
      }
      .price {
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
      }
    }
  }
}
