.list-cards ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;
}
@media all and (max-width: 767px) {
  .list-cards ul {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.list-title {
  padding: 10px;
  color: #484848;
  font-weight: 500;
}
