.list-cards ul li {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}
@media all and (max-width: 767px) {
  .list-cards ul li {
    padding: 5px;
  }
}
.card-experience {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  height: 330px;
  margin: 0px !important;
}
.card-experience .img-wrap {
  overflow: hidden;
  width: auto;
  height: 200px;
  border-radius: 4px 4px 0px 0px;
}
.card-experience img {
  margin: 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card-experience .content-wrap {
  overflow: hidden;
  width: auto;
  height: 130px;
}
.card-experience .content {
  padding: 10px;
}
.card-experience .content span {
  color: #b0b0b0;
}
.card-experience .content .category {
  margin: 0px 0px 5px 0px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #f563aa;
}
.card-experience .content .title-block {
  height: 50px;
  margin: 0px 0px 10px 0px;
  overflow: hidden;
}
.card-experience .content .title {
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  color: #484848;
}
.card-experience .content .price {
  margin: 10px 0px 10px 0px;
  font-size: 18px;
  font-weight: 400;
  line-height: 2.5ex;
  color: #484848;
}
.card-experience:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  transition: 2s;
  position: relative;
  top: -2px;
}
@media all and (max-width: 767px) {
  .card-experience {
    height: 270px;
    margin: 0 0 1em;
  }
  .card-experience .img-wrap {
    height: 150px;
  }
  .card-experience .content-wrap {
    height: 125px;
  }
  .card-experience .content {
    padding: 10px;
  }
  .card-experience .content span {
    color: #b0b0b0;
  }
  .card-experience .content .category {
    font-size: 12px;
    line-height: 14px;
  }
  .card-experience .content .title-block {
    height: 48px;
    margin-bottom: 5px;
  }
  .card-experience .content .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #484848;
  }
  .card-experience .content .price {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
  }
}
