/** Cards **/

.card-block {
    margin-bottom: 20px;
  }
  a{
    text-decoration: none;
  }
  .card {
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 4px;
    max-width: 253px;
  }
  
  .card-experience {
    height: 330px;
    .img-wrap {
      overflow: hidden;
      width: auto;
      height: 200px;
      border-radius: 4px 4px 0px 0px;
    }
    img {
      margin: 0px;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .content-wrap {
      overflow: hidden;
      width: auto;
      height: 130px;
    }
    .content {
      padding: 10px;
      span {
        color: #B0B0B0;
      }
      .category {
        margin: 0px 0px 10px 0px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        text-transform: uppercase;
        color: #B0B0B0;
      }
      .title-block {
        height: 50px;
        margin: 0px 0px 10px 0px;
        overflow: hidden;
      }
      .title {
        font-size: 16px;
        font-weight: 700;
        line-height: 25px;
        color: #484848;
      }
      .price {
        margin: 0px 0px 10px 0px;
        font-size: 18px;
        font-weight: 400;
        line-height: 2.5ex;
        color: #000;
      }
    }
  }
  
  .card-experience:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
    transition: 2s;
    position: relative;
    top: -2px;
  }
  
  @media all and (max-width: 767px) {
    .card-experience {
      height: 270px;
      margin: 0 0 1em;
      .img-wrap {
        height: 150px;
      }
      .content-wrap {
        height: 125px;
      }
      .content {
        padding: 10px;
        span {
          color: #B0B0B0;
        }
        .category {
          font-size: 10px;
          line-height: 16px;
        }
        .title-block {
          height: 54px;
          margin-bottom: 5px;
        }
        .title {
          font-size: 14px;
          font-weight: 700;
          line-height: 18px;
          color: #484848;
        }
        .price {
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
        }
      }
    }
  }
  
  .card-category {
      height: 200px;
    .img-wrap {
      overflow: hidden;
      width: auto;
      height: 200px;
      border-radius: 4px;
    }
    img {
      margin: 0px;
      height: 100%;
      object-fit: cover;
    }
    .content-wrap {
    }
  }
  
  @media all and (max-width: 767px) {
    .card-category {
      height: 150px;
      .img-wrap {
        height: 150px;
      }
      .content-wrap {
        height: 150px;
      }
    }
  }
  
  .card-confirmation {
    height: auto;
    box-shadow: none;
    border: 1px solid #ebebeb;
    font-size: 16px;
    .content-wrap {
      padding: 20px;
    }
    h3 {
      font-weight: 700;
      color: #666;
    }
  }
  
  .card-sign_up {
    height: auto;
    font-size: 16px;
    .content-wrap {
      padding: 20px;
    }
  }
  
  .card-sign_in {
    font-size: 16px;
    .content-wrap {
      padding: 20px;
    }
  }
  