.steps-container {
  padding: 10px 20px 10px 20px;
  border: 1px solid #DBDBDB;
  border-radius: 4px;
  margin-bottom: 20px;
}

@media all and (max-width: 767px) {
  .steps-container {
    padding: 10px 10px 10px 1 0px;
  }
}

.next {
  color: #cecece;
}

.current {
  font-weight: 600;
  color: #484848;
}

.completed {
  color: #3FB057;
  font-weight: 600;
}

.info-container {
  padding-bottom: 30px;
  width: 50%;
}

.info-input {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  font-size: 14px;
  }

@media all and (max-width: 767px) {
  .info-container {
    width: 100%;
  }
}

.icon-text {
  line-height: 26px;
  font-size: 16px;
}

.icon {
  vertical-align: middle;
  line-height: 26px;
  font-size: 16px;
  color: #484848;
}


.info-label {
  text-transform: uppercase;
  padding-bottom: 5px;
  font-size: 13px;
  color: #484848;
}

.confirm-container {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  margin-top: 10px;
  border-top: 1px solid #DBDBDB;
}

.title {
  color: #484848;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 5px;
}

.flow-container {
  padding-top: 10px;
  padding-bottom: 30px;
}

/* Confirmation Step */

.confirmation-section {
  li {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.section-container {
  padding-bottom: 20px;
  border-bottom: 1px solid #DBDBDB;
  margin-bottom: 20px;
}

.section-title {
  color: #484848;
  font-size: 18px;
  font-weight: 600;
}
