.home-title {
    font-weight: 700;
    color: #484848;
}

.experiences-section {
  padding-top: 10px;
  padding-bottom: 10px;
}


.experiences-list {
  padding-bottom: 20px;
}

.home-welcome {
  padding-right: 10px;
  padding-left: 10px;
}

.see_more {
    a {
        font-size: 16px;
        color: #4826E8;
        font-weight: 600;
    }

    a:hover {
        text-decoration: underline;
        color: #4826E8;
    }

    i {
        font-size: 14px;
        color: #4826E8;
        font-weight: 700;
        padding-left: 5px;
    }
}
