.booking-details {
  margin-bottom: 40px;
  border-radius: 4px;
  border: 1px solid #DBDBDB;
  padding: 20px;
}

.booking-status {
  padding-top: 10px;
  padding-bottom: 10px;
}

.booking-detail-2 {
  font-size: 20px;
  font-weight: 600;
}

.booking-name-2 {
  font-size: 24px;
}
